# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:https://www.kaggle.com/datasets/sumandey/national-stock-exchange-dataset-sensex

Import the necessary libraries and create your dataframe(s).

In [1]:
#Import the libraries.
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import numpy as np

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [2]:
#Load the dataset.
data = pd.read_csv('nse_sensex.csv')
#Show data.
data

,DATE,SYMBOL,SERIES,PREV CLOSE,OPEN,HIGH,LOW,LAST,CLOSE,VWAP,VOLUME,TURNOVER,TRADES,DELIVERABLE VOLUME,%DELIVERBLE
0,2016-01-01,ASIANPAINT,EQ,883.55,882.0,885.60,876.90,879.70,878.75,880.60,294006,2.589019e+13,7988,149531,0.5086
1,2016-01-04,ASIANPAINT,EQ,878.75,876.2,892.45,871.70,880.50,880.80,881.96,709103,6.254040e+13,28981,337383,0.4758
2,2016-01-05,ASIANPAINT,EQ,880.80,881.3,905.00,881.30,901.40,900.65,898.75,1372748,1.233761e+14,52028,533231,0.3884
3,2016-01-06,ASIANPAINT,EQ,900.65,904.5,911.90,884.00,885.30,886.40,897.11,1716479,1.539873e+14,51374,1008881,0.5878
4,2016-01-07,ASIANPAINT,EQ,886.40,883.0,891.55,869.00,871.10,872.35,878.39,990333,8.698976e+13,26249,477288,0.4819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40287,2021-06-09,ULTRACEMCO,EQ,6794.40,6775.0,6787.60,6682.00,6720.00,6724.75,6727.16,345102,2.321558e+14,29211,142162,0.4119
40288,2021-06-10,ULTRACEMCO,EQ,6724.75,6748.0,6763.80,6681.00,6705.00,6709.65,6720.21,198704,1.335332e+14,19783,75717,0.3811
40289,2021-06-11,ULTRACEMCO,EQ,6709.65,6725.1,6754.95,6650.00,6665.00,6662.85,6691.38,193014,1.291530e+14,23098,71706,0.3715
40290,2021-06-14,ULTRACEMCO,EQ,6662.85,6655.0,6685.90,6580.00,6682.50,6678.50,6650.26,160001,1.064048e+14,19492,40303,0.2519
40291,2021-06-15,ULTRACEMCO,EQ,6678.50,6678.5,6746.05,6660.35,6663.05,6668.30,6697.07,193128,1.293392e+14,20888,85738,0.4439

In [3]:
#Checking missing values if existing.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40292 entries, 0 to 40291
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                40292 non-null  object
 1   SYMBOL              40292 non-null  object
 2   SERIES              40292 non-null  object
 3   PREV CLOSE          40292 non-null  float64
 4   OPEN                40292 non-null  float64
 5   HIGH                40292 non-null  float64
 6   LOW                 40292 non-null  float64
 7   LAST                40292 non-null  float64
 8   CLOSE               40292 non-null  float64
 9   VWAP                40292 non-null  float64
 10  VOLUME              40292 non-null  int64
 11  TURNOVER            40292 non-null  float64
 12  TRADES              40292 non-null  int64
 13  DELIVERABLE VOLUME  40292 non-null  int64
 14  %DELIVERBLE         40292 non-null  float64
dtypes: float64(9), int64(3), object(3)
memory usage: 4.6+ MB

In [4]:
#Checking for duplicates.
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
40287    False
40288    False
40289    False
40290    False
40291    False
Length: 40292, dtype: bool

In [5]:
#There is no duplicates in data but still running the drop command.
data = data.drop_duplicates()
data

,DATE,SYMBOL,SERIES,PREV CLOSE,OPEN,HIGH,LOW,LAST,CLOSE,VWAP,VOLUME,TURNOVER,TRADES,DELIVERABLE VOLUME,%DELIVERBLE
0,2016-01-01,ASIANPAINT,EQ,883.55,882.0,885.60,876.90,879.70,878.75,880.60,294006,2.589019e+13,7988,149531,0.5086
1,2016-01-04,ASIANPAINT,EQ,878.75,876.2,892.45,871.70,880.50,880.80,881.96,709103,6.254040e+13,28981,337383,0.4758
2,2016-01-05,ASIANPAINT,EQ,880.80,881.3,905.00,881.30,901.40,900.65,898.75,1372748,1.233761e+14,52028,533231,0.3884
3,2016-01-06,ASIANPAINT,EQ,900.65,904.5,911.90,884.00,885.30,886.40,897.11,1716479,1.539873e+14,51374,1008881,0.5878
4,2016-01-07,ASIANPAINT,EQ,886.40,883.0,891.55,869.00,871.10,872.35,878.39,990333,8.698976e+13,26249,477288,0.4819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40287,2021-06-09,ULTRACEMCO,EQ,6794.40,6775.0,6787.60,6682.00,6720.00,6724.75,6727.16,345102,2.321558e+14,29211,142162,0.4119
40288,2021-06-10,ULTRACEMCO,EQ,6724.75,6748.0,6763.80,6681.00,6705.00,6709.65,6720.21,198704,1.335332e+14,19783,75717,0.3811
40289,2021-06-11,ULTRACEMCO,EQ,6709.65,6725.1,6754.95,6650.00,6665.00,6662.85,6691.38,193014,1.291530e+14,23098,71706,0.3715
40290,2021-06-14,ULTRACEMCO,EQ,6662.85,6655.0,6685.90,6580.00,6682.50,6678.50,6650.26,160001,1.064048e+14,19492,40303,0.2519
40291,2021-06-15,ULTRACEMCO,EQ,6678.50,6678.5,6746.05,6660.35,6663.05,6668.30,6697.07,193128,1.293392e+14,20888,85738,0.4439

In [6]:
#Checking if duplicate values has been droped.
data.shape

(40292, 15)

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [7]:
# To Readability of data rounding values up to two decimal.
data = data.round(2)
data

,DATE,SYMBOL,SERIES,PREV CLOSE,OPEN,HIGH,LOW,LAST,CLOSE,VWAP,VOLUME,TURNOVER,TRADES,DELIVERABLE VOLUME,%DELIVERBLE
0,2016-01-01,ASIANPAINT,EQ,883.55,882.0,885.60,876.90,879.70,878.75,880.60,294006,2.589019e+13,7988,149531,0.51
1,2016-01-04,ASIANPAINT,EQ,878.75,876.2,892.45,871.70,880.50,880.80,881.96,709103,6.254040e+13,28981,337383,0.48
2,2016-01-05,ASIANPAINT,EQ,880.80,881.3,905.00,881.30,901.40,900.65,898.75,1372748,1.233761e+14,52028,533231,0.39
3,2016-01-06,ASIANPAINT,EQ,900.65,904.5,911.90,884.00,885.30,886.40,897.11,1716479,1.539873e+14,51374,1008881,0.59
4,2016-01-07,ASIANPAINT,EQ,886.40,883.0,891.55,869.00,871.10,872.35,878.39,990333,8.698976e+13,26249,477288,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40287,2021-06-09,ULTRACEMCO,EQ,6794.40,6775.0,6787.60,6682.00,6720.00,6724.75,6727.16,345102,2.321558e+14,29211,142162,0.41
40288,2021-06-10,ULTRACEMCO,EQ,6724.75,6748.0,6763.80,6681.00,6705.00,6709.65,6720.21,198704,1.335332e+14,19783,75717,0.38
40289,2021-06-11,ULTRACEMCO,EQ,6709.65,6725.1,6754.95,6650.00,6665.00,6662.85,6691.38,193014,1.291530e+14,23098,71706,0.37
40290,2021-06-14,ULTRACEMCO,EQ,6662.85,6655.0,6685.90,6580.00,6682.50,6678.50,6650.26,160001,1.064048e+14,19492,40303,0.25
40291,2021-06-15,ULTRACEMCO,EQ,6678.50,6678.5,6746.05,6660.35,6663.05,6668.30,6697.07,193128,1.293392e+14,20888,85738,0.44

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

Checking unnecessary data. For now don't need column name 'Series'. Other columns keeping for now but if needed will drop.

In [8]:
data.drop(['SERIES','TURNOVER'], axis = 1)

,DATE,SYMBOL,PREV CLOSE,OPEN,HIGH,LOW,LAST,CLOSE,VWAP,VOLUME,TRADES,DELIVERABLE VOLUME,%DELIVERBLE
0,2016-01-01,ASIANPAINT,883.55,882.0,885.60,876.90,879.70,878.75,880.60,294006,7988,149531,0.51
1,2016-01-04,ASIANPAINT,878.75,876.2,892.45,871.70,880.50,880.80,881.96,709103,28981,337383,0.48
2,2016-01-05,ASIANPAINT,880.80,881.3,905.00,881.30,901.40,900.65,898.75,1372748,52028,533231,0.39
3,2016-01-06,ASIANPAINT,900.65,904.5,911.90,884.00,885.30,886.40,897.11,1716479,51374,1008881,0.59
4,2016-01-07,ASIANPAINT,886.40,883.0,891.55,869.00,871.10,872.35,878.39,990333,26249,477288,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40287,2021-06-09,ULTRACEMCO,6794.40,6775.0,6787.60,6682.00,6720.00,6724.75,6727.16,345102,29211,142162,0.41
40288,2021-06-10,ULTRACEMCO,6724.75,6748.0,6763.80,6681.00,6705.00,6709.65,6720.21,198704,19783,75717,0.38
40289,2021-06-11,ULTRACEMCO,6709.65,6725.1,6754.95,6650.00,6665.00,6662.85,6691.38,193014,23098,71706,0.37
40290,2021-06-14,ULTRACEMCO,6662.85,6655.0,6685.90,6580.00,6682.50,6678.50,6650.26,160001,19492,40303,0.25
40291,2021-06-15,ULTRACEMCO,6678.50,6678.5,6746.05,6660.35,6663.05,6668.30,6697.07,193128,20888,85738,0.44

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [9]:
#Data is clean and consisten

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? - The dataset was prety much clean. Needed to clean unnecessary data.
2. Did the process of cleaning your data give you new insights into your dataset? - Yes
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? - Didn't drop all unnecessary columns for now. May be after analyzing data will further work on predictions or more companywise datewise study to understand resons behind high low prices of stock.